# Python's Collection

** There are Four Collection data types in Python **
1. List: Collection of ordered and changeable Items. List Allows duplicate elements.
2. Dictionaries: Collection of ordered and changeable key-value pair Items. Dictionaries doesn't allow duplicate Items.
3. Tuple: Collection of ordered and unchangeable Items. Tuple does allow duplicate elements.
4. Sets: Collection of unordered, changeable and indexed. No duplicate elements.

## Lists

In [3]:
myList = [1,2, 3, 4]
nameList =list(("Bipender","Birendra", "Mohit"))
print(myList)
print(nameList)

[1, 2, 3, 4]
['Bipender', 'Birendra', 'Mohit']

In [7]:
for name in nameList:
    print("Hello! {:s}".format(name))

Hello! Bipender
Hello! Birendra
Hello! Mohit

### List Operations

In [12]:
nameList.append('Dharmendra')
print(nameList)

['Bipender Singh', 'Birendra', 'Mohit', 'Devender', 'Devender', 'Dharmendra']

In [13]:
nameList[0] = "Bipender Singh"
print(nameList)

['Bipender Singh', 'Birendra', 'Mohit', 'Devender', 'Devender', 'Dharmendra']

In [11]:
print(len(nameList))

5

In [15]:
nameList.insert(5, 'Atul')
print(nameList)

['Bipender Singh', 'Birendra', 'Mohit', 'Devender', 'Devender', 'Atul', 'Dharmendra']

In [16]:
nameList.remove('Devender')
print(nameList)

['Bipender Singh', 'Birendra', 'Mohit', 'Devender', 'Atul', 'Dharmendra']

In [17]:
nameList.pop()
print(nameList)

['Bipender Singh', 'Birendra', 'Mohit', 'Devender', 'Atul']

In [18]:
del nameList[3]
print(nameList)

['Bipender Singh', 'Birendra', 'Mohit', 'Atul']

## Tuples

In [19]:
myTuple= (1,2,3,4,5)
myNameTuple = tuple(('a', 'a','b','c','d'))
print(myTuple)
print(myNameTuple)

(1, 2, 3, 4, 5)
('a', 'a', 'b', 'c', 'd')

In [20]:
for n in myNameTuple:
    print("this is {:s}".format(n))

this is a
this is a
this is b
this is c
this is d

In [21]:
myNameTuple[0]= 'z'

TypeError: 'tuple' object does not support item assignment

## Sets

In [1]:
mySet = {1,2,3,4}
print(mySet)
mySet_2 = set((1,2,3,4,5))
print(mySet_2)

set([1, 2, 3, 4])
set([1, 2, 3, 4, 5])